.framehome {
  background: #400000;
  color: white;
  padding: 2% 0% 2% 0%;
  margin: 10% 2% 10% 2%;
}
.framehome >div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #400000;
}
.framehome >div:nth-child(1) div {
  text-align: center;
  width: 100px;
  height: 100px;
}
.framehome >div:nth-child(1) div img {
  width: 100%;
  height: 100%;
  filter: opacity(50%);
}
.framehome >div:nth-child(1) div:nth-child(2) img {
  filter: drop-shadow(0px 0px 1px white);
}
.framehome >div:nth-child(1) div:nth-child(3) img {
  border-radius: 50%;
}