.lenguajes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #400000;
  margin: 2% 2% 10% 2%;
  border-radius: 5%;
}
.lenguajes .lenguaje {
  display: flex;
  flex-direction: column;
  padding: 2% 0% 2% 0%;
}
.lenguajes .lenguaje >div:nth-child(1) {
  width: 80px;
  height: 80px;
}
.lenguajes .lenguaje >div:nth-child(2) {
  color: brown;
  text-align: center;
  margin: 2%;
}
.lenguajes .lenguaje div img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  filter: opacity(40%);
}